Sorting/BubbleSort.cs
Sorting/bin/Debug/net6.0/Sorting.deps.json
Sorting/bin/Debug/net6.0/Sorting.dll
Sorting/bin/Debug/net6.0/Sorting.pdb
Sorting/obj/project.assets.json
Sorting/obj/project.nuget.cache
Sorting/obj/Sorting.csproj.nuget.dgspec.json
Sorting/obj/Sorting.csproj.nuget.g.props
Sorting/obj/Sorting.csproj.nuget.g.targets
Sorting/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Sorting/obj/Debug/net6.0/Sorting.AssemblyInfo.cs
Sorting/obj/Debug/net6.0/Sorting.AssemblyInfoInputs.cache
Sorting/obj/Debug/net6.0/Sorting.assets.cache
Sorting/obj/Debug/net6.0/Sorting.csproj.AssemblyReference.cache
Sorting/obj/Debug/net6.0/Sorting.csproj.CoreCompileInputs.cache
Sorting/obj/Debug/net6.0/Sorting.csproj.FileListAbsolute.txt
Sorting/obj/Debug/net6.0/Sorting.dll
Sorting/obj/Debug/net6.0/Sorting.GeneratedMSBuildEditorConfig.editorconfig
Sorting/obj/Debug/net6.0/Sorting.GlobalUsings.g.cs
Sorting/obj/Debug/net6.0/Sorting.pdb
Sorting/obj/Debug/net6.0/ref/Sorting.dll
Sorting/obj/Debug/net6.0/refint/Sorting.dll
SortingTest/bin/Debug/net6.0/CoverletSourceRootsMapping
SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
SortingTest/bin/Debug/net6.0/Newtonsoft.Json.dll
SortingTest/bin/Debug/net6.0/NuGet.Frameworks.dll
SortingTest/bin/Debug/net6.0/Sorting.dll
SortingTest/bin/Debug/net6.0/Sorting.pdb
SortingTest/bin/Debug/net6.0/SortingTest.deps.json
SortingTest/bin/Debug/net6.0/SortingTest.dll
SortingTest/bin/Debug/net6.0/SortingTest.pdb
SortingTest/bin/Debug/net6.0/SortingTest.runtimeconfig.json
SortingTest/bin/Debug/net6.0/testhost.dll
SortingTest/bin/Debug/net6.0/testhost.exe
SortingTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SortingTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SortingTest/obj/Debug/net6.0/SortingTest.AssemblyInfo.cs
SortingTest/obj/Debug/net6.0/SortingTest.AssemblyInfoInputs.cache
SortingTest/obj/Debug/net6.0/SortingTest.assets.cache
SortingTest/obj/Debug/net6.0/SortingTest.csproj.AssemblyReference.cache
SortingTest/obj/Debug/net6.0/SortingTest.csproj.CopyComplete
SortingTest/obj/Debug/net6.0/SortingTest.csproj.CoreCompileInputs.cache
SortingTest/obj/Debug/net6.0/SortingTest.csproj.FileListAbsolute.txt
SortingTest/obj/Debug/net6.0/SortingTest.dll
SortingTest/obj/Debug/net6.0/SortingTest.GeneratedMSBuildEditorConfig.editorconfig
SortingTest/obj/Debug/net6.0/SortingTest.genruntimeconfig.cache
SortingTest/obj/Debug/net6.0/SortingTest.GlobalUsings.g.cs
SortingTest/obj/Debug/net6.0/SortingTest.pdb
SortingTest/obj/Debug/net6.0/ref/SortingTest.dll
SortingTest/obj/Debug/net6.0/refint/SortingTest.dll
SortingTest/obj/project.assets.json
SortingTest/obj/project.nuget.cache
SortingTest/obj/SortingTest.csproj.nuget.dgspec.json
SortingTest/obj/SortingTest.csproj.nuget.g.props
SortingTest/obj/SortingTest.csproj.nuget.g.targets
ShowCase/bin/Debug/net6.0/ShowCase.deps.json
ShowCase/bin/Debug/net6.0/ShowCase.dll
ShowCase/bin/Debug/net6.0/ShowCase.exe
ShowCase/bin/Debug/net6.0/ShowCase.pdb
ShowCase/bin/Debug/net6.0/ShowCase.runtimeconfig.json
ShowCase/bin/Debug/net6.0/Sorting.dll
ShowCase/bin/Debug/net6.0/Sorting.pdb
ShowCase/obj/project.assets.json
ShowCase/obj/project.nuget.cache
ShowCase/obj/ShowCase.csproj.nuget.dgspec.json
ShowCase/obj/ShowCase.csproj.nuget.g.props
ShowCase/obj/ShowCase.csproj.nuget.g.targets
ShowCase/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ShowCase/obj/Debug/net6.0/apphost.exe
ShowCase/obj/Debug/net6.0/ShowCase.AssemblyInfo.cs
ShowCase/obj/Debug/net6.0/ShowCase.AssemblyInfoInputs.cache
ShowCase/obj/Debug/net6.0/ShowCase.assets.cache
ShowCase/obj/Debug/net6.0/ShowCase.csproj.AssemblyReference.cache
ShowCase/obj/Debug/net6.0/ShowCase.csproj.CopyComplete
ShowCase/obj/Debug/net6.0/ShowCase.csproj.CoreCompileInputs.cache
ShowCase/obj/Debug/net6.0/ShowCase.csproj.FileListAbsolute.txt
ShowCase/obj/Debug/net6.0/ShowCase.dll
ShowCase/obj/Debug/net6.0/ShowCase.GeneratedMSBuildEditorConfig.editorconfig
ShowCase/obj/Debug/net6.0/ShowCase.genruntimeconfig.cache
ShowCase/obj/Debug/net6.0/ShowCase.GlobalUsings.g.cs
ShowCase/obj/Debug/net6.0/ShowCase.pdb
ShowCase/obj/Debug/net6.0/ref/ShowCase.dll
ShowCase/obj/Debug/net6.0/refint/ShowCase.dll
Test/SortingTest/bin/Debug/net6.0/CoverletSourceRootsMapping
Test/SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Test/SortingTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Test/SortingTest/bin/Debug/net6.0/Newtonsoft.Json.dll
Test/SortingTest/bin/Debug/net6.0/NuGet.Frameworks.dll
Test/SortingTest/bin/Debug/net6.0/Sorting.dll
Test/SortingTest/bin/Debug/net6.0/Sorting.pdb
Test/SortingTest/bin/Debug/net6.0/SortingTest.deps.json
Test/SortingTest/bin/Debug/net6.0/SortingTest.dll
Test/SortingTest/bin/Debug/net6.0/SortingTest.pdb
Test/SortingTest/bin/Debug/net6.0/SortingTest.runtimeconfig.json
Test/SortingTest/bin/Debug/net6.0/testhost.dll
Test/SortingTest/bin/Debug/net6.0/testhost.exe
Test/SortingTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Test/SortingTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Test/SortingTest/obj/project.assets.json
Test/SortingTest/obj/project.nuget.cache
Test/SortingTest/obj/SortingTest.csproj.nuget.dgspec.json
Test/SortingTest/obj/SortingTest.csproj.nuget.g.props
Test/SortingTest/obj/SortingTest.csproj.nuget.g.targets
Test/SortingTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Test/SortingTest/obj/Debug/net6.0/SortingTest.AssemblyInfo.cs
Test/SortingTest/obj/Debug/net6.0/SortingTest.AssemblyInfoInputs.cache
Test/SortingTest/obj/Debug/net6.0/SortingTest.assets.cache
Test/SortingTest/obj/Debug/net6.0/SortingTest.csproj.AssemblyReference.cache
Test/SortingTest/obj/Debug/net6.0/SortingTest.csproj.CopyComplete
Test/SortingTest/obj/Debug/net6.0/SortingTest.csproj.CoreCompileInputs.cache
Test/SortingTest/obj/Debug/net6.0/SortingTest.csproj.FileListAbsolute.txt
Test/SortingTest/obj/Debug/net6.0/SortingTest.dll
Test/SortingTest/obj/Debug/net6.0/SortingTest.GeneratedMSBuildEditorConfig.editorconfig
Test/SortingTest/obj/Debug/net6.0/SortingTest.genruntimeconfig.cache
Test/SortingTest/obj/Debug/net6.0/SortingTest.GlobalUsings.g.cs
Test/SortingTest/obj/Debug/net6.0/SortingTest.pdb
Test/SortingTest/obj/Debug/net6.0/ref/SortingTest.dll
Test/SortingTest/obj/Debug/net6.0/refint/SortingTest.dll
